* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./imgs/bubbly.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
body {
  background: url('./imgs/music-transparent.png') no-repeat bottom left;
  height: 100%;
  background-size: 50% 200px;
  color: white;
  display: flex;
  align-items: center;
  font-family: Montserrat;
  margin: 0;
}
h1 {
  font-size: 48px;
  margin: 10px 0 10px;
}
h4 {
  font-size: 36px;
  font-weight: 400;
  opacity: 0.66;
  margin: 0;
}
.main-container {
  height: 75%;
  width: 90%;
  margin: auto;
  display: flex;
}
.video-container {
  width: 50%;
}
.inner-video {
  margin-top: 10px;
  height: 300px;
  width: 100%;
  box-shadow: 10px 10px 50px rgba(255, 215, 0, 0.35);
}
