* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./imgs/bubbly.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
body {
  background: url('./imgs/music-transparent.png') no-repeat bottom right;
  height: 100%;
  background-size: 50% 40%;
  color: white;
  display: flex;
  align-items: center;
  font-family: Montserrat;
  margin: 0;
}
h1 {
  font-size: 48px;
  margin: 10px 0;
}
h4 {
  font-size: 36px;
  font-weight: 400;
  opacity: 0.66;
  margin: 0;
}
.main-container {
  height: 75%;
  width: 90%;
  margin: auto;
  display: flex;
}
.video-container {
  width: 50%;
}
.inner-video {
  margin-top: 50px;
  height: 300px;
  width: 500px;
  box-shadow: 10px 10px 50px rgba(255, 215, 0, 0.35);
}
iframe {
  width: 500px;
  height: 300px;
}
pre {
  font-family: Montserrat;
  height: 95%;
  overflow: scroll;
}
.lyrics-container {
  height: 100%;
  width: 40%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  line-height: 35px;
  border: 1px solid white;
  padding: 20px;
}
